# macOS
.DS_Store

__pycache__/
*.pyc

   *.log
   *.env.*
   *.swp
   *.swo
   .vscode/
   .idea/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.env
.DS_Store
venv/
node_modules/
resume-matcher-frontend/.vite/
resume-matcher-frontend/.vite-temp/
resume-matcher-backend/uploads/
resume-matcher-backend/jd.txt
resume-matcher-backend/resume.txt
