# macOS
.DS_Store

__pycache__/
*.pyc

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.env
venv/
node_modules/
resume-matcher-frontend/.vite/
resume-matcher-frontend/.vite-temp/
resume-matcher-backend/uploads/
resume-matcher-backend/jd.txt
resume-matcher-backend/resume.txt

# IDE/editor folders
.vscode/
.idea/
*.sublime-*
*.swp

# Build outputs (if any)
dist/
build/

# Other virtual environments
.env/
env/

# Log files
*.log

# Other environment files
.env.*
